.inscription_description {
  display: flex;
  padding: 100px;
  justify-content: space-around;
  background-color: rgb(174, 0, 255);;
}

.text_container h4 {
  font-size: 30px;
}

.inscription_button {
  position: absolute;
  right: 40px;
  width: 30%;
  height: 50px;
  background-color: red;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 20px;
  text-align: center;
}

.inscription_button:hover{
  background-color: rgb(85, 0, 255);
  transition: all 0.5s ease;
}

@media (max-width: 1045px) {

  .inscription_description {
    display: flex;
    flex-direction: column;
  }

  .inscription_button {
    width: 80%;
    margin-top: 20px;
  }
}